.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    padding: 1.2rem 1rem;
    border-top: 1px solid black;
}

.footer ul li{
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    margin-left: 1rem;
}

@media (max-width:655px) {
    .footer{
        flex-direction: column;
        padding: 0.2rem;
    }
    .footer p{
        text-align: center;
    }
}