.navbar{
    width: 100%;
    height: 4rem;
    color: white;
    /* background: #3b3a3a; */
    padding: 0.4rem 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.menu-icon{
    width: 2.5rem;
    height: 2.5rem;
    display: none;
}
.logo{
    width: 3rem;
    height: 3rem;
}
.navbar ul{
    display: flex;
    align-items: center;
}
.navbar ul li{
    list-style: none;
    margin: 3px 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

.logobox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logobox span{
    font-size: 1.8rem;
    font-weight: 700;
}
.darknav{
    background: #0f3aa3;
    box-shadow: 0px 1px 5px 0px black;
    transition: all 0.6s;
}

/*-----media queries-----*/

@media (max-width:910px){
    .navbar ul{
        position: fixed;
        top: 0;
        right: 0px;
        width: 200px;
        flex-direction: column;
        background-color: #0f3aa3;
        height: 100vh;
        padding: 2rem 0.5rem;
        transition: all 0.5s;
    }
    .navbar ul li{
        margin: 1.4rem auto;
        margin-left: 2rem;
    }
    .menu-icon{
        display: block;
        z-index: 1;
        cursor: pointer;
    }
    
    .navbar .hide-menu{
        right: -200px;
    }
}